{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'balance' %}"><button type="button" class="btn btn-primary mb-2">Home</button></a>
    <a href="{% url 'transaction_create' %}"><button type="button" class="btn btn-primary mb-2">New Transaction</button></a>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Wallet</th>
            <th scope="col">Total</th>
            <th scope="col">Created At</th>

        </tr>
        </thead>
        <tbody>
        {% for transaction in object_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td >{{transaction.transaction_type}}</td>
            <td>{{transaction.wallet}}</td>
            <td>{{transaction.total}}</td>
            <td>{{transaction.created_at}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Total Credit: {{total_credit}}</p>
    <p>Total Debit: {{total_debit}}</p>
    <p>Current Balance: {{current_balance}}</p>
{% endblock %}